# Build files
*.d
*.o
*.so
/load
build

# Temporary or configuration files/directories
*~
*.bak
*.sw[abcdefghijklmnop]
*.saved_session
/.clang-format
/.vscode/
/tags
/load.trace
/.ycm_extra_conf.py
/vgcore.*

# Other things that do not need to be included in the repository
todo
session

